#root {
  height: 100%;
  width: 100%;
  position: relative;
}

main {
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  color: var(--fg);
}

footer {
  padding: 0.75rem 1rem;
  font-size: smaller;
  text-align: start;
  font-family: monospace;
  & > button {
    all: unset;
    cursor: pointer;
    color: burlywood;
    text-decoration: underline;
  }
}

input {
  align-self: center;
  max-width: 560px;
  width: 80%;
  text-align: center;
}

button {
  align-self: center;
  width: fit-content;
}

.rect {
  flex: 1;
  display: flex;
  flex-direction: column;
  place-content: center;
  background: var(--rect);
}

.my-color {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -5;
  width: 100%;
  height: 100%;
  background: var(--ycolor, #fff);
}

.desc > p {
  color: #213547;
  font-weight: 600;
}

.text {
  mix-blend-mode: var(--blend, hard-light);
}
